@import '../../scss/variables.scss';

#status{
    height: 25vh;
    background-image: url('../../img/pexels-manuel-geissinger-325229.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;

    h2{
        font-size: 2rem;  // Taille initiale pour les grands écrans
        color: inherit;
        font-family: inherit;
        margin: inherit;
    }

    p{
        font-size: 1.9rem;  // Taille initiale pour les grands écrans
    }
}

@media screen and (max-width: 768px) {
    #status {
        height: 30vh;  // Réduire la hauteur sur des écrans de taille moyenne
    }

    h2 {
        font-size: 1.5rem;  // Réduire la taille du titre sur les écrans moyens
    }

    p {
        font-size: 1.4rem;  // Réduire la taille du texte sur les écrans moyens
    }
}

@media screen and (max-width: 480px) {
    #status {
        height: 40vh;  // Augmenter la hauteur pour que le contenu soit plus visible sur les petits écrans
    }

    h2 {
        font-size: 1.2rem;  // Réduire encore plus la taille du titre sur les petits écrans
    }

    p {
        font-size: 1rem;  // Réduire encore la taille du texte pour les petits écrans
    }
}
